header {
 // display: flex;
  justify-content: space-between;
  padding: 10px 40px;
   height: 170px;
   padding-left: 120px;
   padding-bottom: 0%;
  align-items: center;
  background-color: #a6cbcf;;
}
.img1 {
  height: 110%;
  width: 70%;
  align-self: center;
  background-color: rgb(166, 203, 207);
}