form {
  border: 1px solid rgb(46, 46, 46);
  display: block;
  border-radius: 3px;
  padding: 30px;
  margin: 10px auto;
}

input {
  padding: 5px 20px;
  width: 150px;
  line-height: 16px;
  margin: 10px 0;
}
footer {
  background: rgb(46, 46, 46);
  color: #e7e7e7;
  height: 65px;
  padding-top: 15px;
}
